<% if (locals.user.idAnimalSelect) { %>
  <% if (locals.user.animaux) { %>
    <% for (const animal of locals.user.animaux) { %>
      <% if (animal.id_animal == locals.user.idAnimalSelect) { %>

        <p>Nom de l'animal</p><p class="pInput"><%= animal.nom_animal %></p>
        <p>Age de l'animal</p><p class="pInput"><%= animal.age_animal.years %> ans</p>
        <p>Collier de l'animal</p><p class="pInput"><% if (animal.numero_collier) {%><%= animal.numero_collier %><% } else{%>Pas de collier<%}%></p>
        <p>Distance max</p><p class="pInput"><%= animal.distance %> m</p>

      <%}%>
    <%}%>
  <% } %>
<% } %>
