<link rel="stylesheet" type="text/css" href="css/API_WIMP.css" />
<link rel="stylesheet" type="text/css" href="css/leaflet.css" />

<link rel="stylesheet" type="text/css" href="css/MarkerCluster.css" />

<link rel="stylesheet" type="text/css" href="css/MarkerCluster.Default.css" />

<style type="text/css">
    #map{ /* la carte DOIT avoir une largeur sinon elle n'apparaît pas */
        width: 100%;
    }
</style>

<div id="map">
<!-- Ici s'affichera la carte -->
</div>

<!-- Fichiers Javascript -->
<script src="js/leaflet.js"></script>
<script src="js/leaflet.markercluster.js"></script>
<script src="leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
<script type="text/javascript" src="js/API_WIMP.js"></script>
